{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>Indique Músicas Para Seus Amigos</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/static/css/theme.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="text/javascript">
    
    $("textarea").bind("input", function(e) {
        while($(this).outerHeight() < this.scrollHeight + parseFloat($(this).css("borderTopWidth")) + parseFloat($(this).css("borderBottomWidth")) &&
              $(this).height() < 500
             ) {
            $(this).height($(this).height()+1);
        };
    });

    $('.comment-send').click(function() {
      id = $(this).attr('data-id');
      console.log(id);
      $.ajax({
        url: '/music/comment',
        method: 'POST',
        dataType: 'json',
        data: {
          'comment_music_indicate_id': $('#comment-song-id-' + id).val(),
          'comment_music_indicate_text': $('#comment-song-text-' + id).val()
        },
        success: function(response) {
          $('#comment-song-text-' + id).val('');

          html = '';

          html += '<div class="comment-wrap">';
          html += '  <div class="photo">';
          html += '    <div class="avatar" style="background-image: url(\'' + response['url_image'] + '\')"></div>';
          html += '  </div>';
          html += '  <div class="comment-block">';
          html += '    <p class="comment-text">';
          html += '      ' + response['text'];
          html += '    </p>';
          html += '    <div class="bottom-comment">';
          html += '      <div class="comment-date">' + response['date'] + ' @ ' + response['time'] + '</div>';
          html += '    </div>';
          html += '  </div>';
          html += '</div>';

          $('#comments-list-' + id).prepend(html);
        },
        error: function (error) {
          console.log(error);
        }
      });
    });

    function openComments(id) {
      $('#' + id).toggle();
    }

  </script>
</body>
</html>