{% extends 'base.html' %}

{% block content %}

	<div class="row profile">
		{% include 'profile-sidebar.html' %}

		<div class="col-md-9">
			<div class="profile-content" id="musics">
				{% for music in musics %}
	            	<div class="row" style="margin-top: 20px;">
	            		<div class="col-md-2">
	            			<img src="{{ music.image_album }}" class="img-responsive img-rounded" alt="">
						</div>
						<div class="col-md-8">
						   	<h3>{{ music.track_name }} por {{ music.from_user_name }}</h3>	
						   	<a href="{{ music.url }}" target="_blank">Ver Música</a> | 
						   	<a href="javascript:openComments('{{music.id}}');">Comentarios ({{music.comments|length}})</a>
						</div>
	            		<div class="col-md-2">
	            			<img src="{{ music.from_user_url_image }}" class="img-responsive img-circle" alt="">
						</div>
					</div>

					<div class="comments" id="{{music.id}}">
						<div class="comment-wrap">
							<div class="photo">
								<div class="avatar" style="background-image: url('{{user.images.0.url}}')"></div>
							</div>
							<div class="comment-block text-right">
								<input type="hidden" id="comment-song-id-{{music.id}}" value="{{music.id}}"/>
								<textarea name="comment" id="comment-song-text-{{music.id}}" cols="30" rows="2" placeholder="Comente Sobre..."></textarea>

								<a class="btn btn-success btn-sm comment-send" data-id="{{music.id}}">
									<i class="fa fa-send"></i>
								</a>
							</div>
						</div>

						<div id="comments-list-{{music.id}}">
							{% for comment in music.comments %}
								<div class="comment-wrap">
									<div class="photo">
										<div class="avatar" style="background-image: url('{{ comment.url_image }}')"></div>
									</div>
									<div class="comment-block">
										<p class="comment-text">
											{{ comment.text }}
										</p>
										<div class="bottom-comment">
											<div class="comment-date">{{ comment.date }} @ {{ comment.time }}</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}