<div class="col-md-3">
	<div class="profile-sidebar">
		<!-- SIDEBAR USERPIC -->
		<div class="profile-userpic">
			<img src="{{user.images.0.url}}" class="img-responsive" alt="">
		</div>
		<!-- END SIDEBAR USERPIC -->
		<!-- SIDEBAR USER TITLE -->
		<div class="profile-usertitle">
			<div class="profile-usertitle-name">
				{{user.display_name}}
			</div>
		</div>

		<!-- SIDEBAR MENU -->
		<div class="profile-usermenu">
			<ul class="nav">
				<li {% if home %} class="active" {% endif %}>
					<a href="/">
						<i class="glyphicon glyphicon-home"></i> Perfil
					</a>
				</li>
				<li {% if music_indicates %} class="active" {% endif %}>
					<a href="/music_indicates">
						<i class="fa fa-music"></i> Musicas Indicadas
					</a>
				</li>
				<li {% if indicates %} class="active" {% endif %}>
					<a href="/indicates">
						<i class="fa fa-rss"></i> Indicações
					</a>
				</li>
				<li {% if groups %} class="active" {% endif %}>
					<a href="/groups">
						<i class="fa fa-user"></i> Grupos
					</a>
				</li>
			</ul>
		</div>
		<!-- END MENU -->
	</div>
</div>